/* mystyle.css*/
ul{
    list-style-type: di;
    list-style: circle inside url('https://i.kym-cdn.com/photos/images/original/002/584/508/141.gif');
}

h1{
  font-size: 16pt;
}
h1, .myh1{
font-size: 25pt;
margin: 25px;
padding:  10px 50px 20px 50px;
border: 5px solid blueviolet;
border-radius: 50%;

}
h1:hover{
    background-color: purple;
    color: white;
}

body{
    font-family: 'kanit';   
   }
input[type="submit"]:hover,input[type="reset"]:hover {
    background-color: purple;
    color: white;
}
input[type = "fname"]:hover{
    background-color: blueviolet;
}
img {
    display: block;
    margin: 10px auto;
    width: 100px;
    border-radius: 100%;
    
}